{
  "arrowParens": "avoid",
  "bracketSameLine": true,
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "ignore",
  "jsxBracketSameLine": true,
  "jsxSingleQuote": false,
  "printWidth": 80,
  "proseWrap": "preserve",
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "useTabs": false
}
